* {
    border: 5px;
    font-size: 100%;
}

header {
    font-weight: bold;
    font-style: italic;
    color: whitesmoke;
    padding-bottom: 5px;
}

header h1 {
    font-size: 25px;
}

body {
    width: 94vw;
    height: 80vh;
    padding: 3%;
    font-family: 'Montserrat', sans-serif;
    color: yellow;
    padding-bottom: 30px;
    background: url("img/fondo.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 25px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    font-weight: bold;
    font-style: italic;
    color: white;
    padding-bottom: 5px;
}

header h1{
    font-size: 25px;
}

main {
    height: 90%;
}

.input-area {
    height: 70%;
    padding: 3%;
    color: yellow;
}

#input {
    height: 40%;
    width: 100%;
    background-color: lightskyblue;
    resize: none;
    padding: 3%;
    border-radius: 5px;
}

.message {
    height: 10%;
    font-size: 12px;
    text-align: center;
}

.button-area {
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.encrypt-button {
    height: 45%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: lightseagreen;
    color: black;
}

.encrypt-button:hover {
    background-color: orangered;
}

.encrypt-button:active {
    background-color: lightseagreen;
    transform: scale(0.95);
}

.decrypt-button {
    height: 45%;
    border: 3px solid lightseagreen;
    border-radius: 10px;
    background-color: black;
    color: lightseagreen;
}

.decrypt-button:hover {
    background-color: orangered;
    color: black;
    border: 3px solid black;
}

.decrypt-button:active {
    background-color: lightseagreen;
    transform: scale(0.95);
}

.output-area {
    height: 30%;
    padding: 5%;
}

.output-init {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5%;
}

.output-first-message {
    font-weight: bold;
}

img {
    display: none;
}

.output-response {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#output {
    height: 45%;
    width: 100%;
    background-color:lightskyblue;
    border-radius: 5px;
    resize: none;
    color: black;
    padding: 10px 0 0 10px;
}

.copy {
    width: 60%;
    height: 30%;
    border: 3px solid black;
    border-radius: 5px;
    background-color: lightseagreen;
    color: black;
}

.copy:hover {
    background-color: orangered;
    color: black;
    border: 3px solid black;
}

.copy:active {
    background-color: lightseagreen;
    transform: scale(0.95);
}

footer {
    font-weight: 400;
    padding: 50px 0 0 20px;
}

.sociales img {
    width: 30px;
    height: 30px;
}

@media screen and (min-width:640px) {
    body {
        font-size: 24px;
        background-size: cover;
    }

    header {
        font-size: 48px;
    }

    .input-area {
        height: 50%;
    }

    #input {
        height: 70%;
    }

    .message {
        font-size: 18px;
    }

    .button-area {
        height: 30%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .encrypt-button {
        height: 55%;
        width: 45%;
        border-radius: 10px;
    }

    .decrypt-button {
        height: 55%;
        width: 45%;
        border-radius: 10px;
    }

    .output-area {
        height: 40%;
    }

    #output {
        height: 60%;
    }

    .copy {
        width: 65%;
        height: 40%;
        border-radius: 10px;
    }

    footer {
        font-size: 18px;
    }
}

@media screen and (min-width:1024px) {
    body{
        font-size: 24px;
        background-size: cover;
    }
    
    header {
        width: 100%;
        height: 10%;
        font-size: 56px;
    }

    main {
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: row;
    }

    .input-area {
        width:66%;
        height: 100%;
    }

    #input {
        height: 60%;
    }

    .message {
        height: 10%;
    }

    .button-area {
        height: 25%;
    }

    .output-area {
        width: 34%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        display: initial;
    }

    .output-response {
        width: 100%;
        height: 100%;
    }

    .copy {
        width: 65%;
        height: 40%;
    }

    footer {
        height: 10%;
    }
}